<table>
  <tbody>
  <tr>
    <th>Notification Default Address</th>
    <td>
      <input type="text" id="settings_notification_default"
             value="<%= settings[:callback_url] %>"
             name="settings['callback_url']"
             placeholder="http:// type your site">
    </td>
  </tr>
  </tbody>
</table>
